
<div class="center jumbotron text-center">
<h1>Parking Fee Calculator</h1>


<%= form_for @parking do |f| %>

   <% if current_user %>
     <h4> Please choose </h4>
     <label>
       <%= f.radio_button :parking_type, "short-term", :checked => "checked" %> short-term
     </label>
 
     <label>
       <%= f.radio_button :parking_type, "long-term" %> long-term
     </label>
 
   <% else %>
    <p> As a Guest </p>
   <% end %>

  <p><%= f.submit "start to count" %></p>

<% end %>



</div>
<%= link_to image_tag("parking-sign.jpg", alt: "parking sign" ) %>  
<%= link_to image_tag("123.jpg", alt: "No parking sign" ) %> 
<%= link_to image_tag("DC.jpg", alt: "DC parking sign", size: "500x350" ) %> 