<div class="col-md-4 col-md-offset-4 text-center">
<h1>Calculating the parking fee</h1>

<% if @parking.amount.present? # 已经结束，显示停车费 %>
  <p>Type <%= @parking.parking_type %></p>


  <p>From <%= @parking.start_at %> To <%= @parking.end_at %><p>
  <p> <%= @parking.duration %> min</p>
  <p>It's <%= number_to_currency(@parking.amount.to_f / 100, :unit => "$") %> USD</p>

  <p><%= link_to "continue", new_parking_path %></p>

<% else # 还没结束，显示结束按钮 %>

  <%= form_for @parking do |f| %>

    <p><%= f.submit "stop parking" %></p>

  <% end %>

<% end %>
</div>
